
@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url(fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0;
    font-family: Open Sans, Arial, san-serif;
    overflow-x: hidden;
}

.header {
    background-image: url(../img/football_767.jpg);
    background-color: #0a0e34;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    min-width: 320px;
    flex-shrink: 0;
    min-height: 568px;
}

.header::after {
    content: "";
    background-color: #0a0e34;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.logo {
    display: flex;
    fill: #fff;
    width: 133px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    margin-top: 137px;
}

.title_text {
    text-transform: uppercase;
}

.title_left {
    margin-left: 18px;
}

.title_right {
    margin-left: 63px;
    display: inline-block;
}

.button {
    background-color: #5e42b0;
    display: flex;
    border-radius: 24px;
}

.brand_logo {
    fill: white;
}

.button_text {

}

.button_brand {
    font-weight: bold;
    height: 24px;
}